images
/logs/

# Virtual environment
.venv/
env/
venv/
.env
.env.*

# PyCharm
.idea/
/src/image_hosting/__pycache__/

# Nginx
*.pid

uv.lock

# OS junk files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini